@media screen and (max-width:1000px) {
    header .container{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        
    }

    .botao{
        margin-top: 5px;
        width: 190px;
    }

    .main{
        display: flex;
        flex-direction: column;
        margin-left: auto;

    }

    .extra{
        margin-top: 30px;
    }
}

@media screen and (min-width:1000px) {
    .descricao{
        width: 50%;
    }

    .sinopse{
        width: 40%;
    }
    
}